<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        <div class="container mt-4">
            <h1>Contact Us</h1>
            <p>This is the contact page.</p>
        </div>
        <%- include('../partials/footer') %>